<!-- <div class="jumbotron">
  <h1>Anilabs</h1>

</div> -->



    <div class="row">
        <div class="form_bg">
            <form>
                 <h2 class="text-center">Login Page</h2>
                <br/>
                <div class="align-center">
                  <p>
                    <a class="btn btn-lg btn-primary" href="<%= @login_url %>" role="button" id="connect-button">Connect to Outlook</a>
                  </p>
                </div>
            </form>
        </div>
    </div>
