<h1>My contacts</h1>
<table class="table">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <!-- <th>Private/Public</th> -->
  </tr>
  <% @contacts.each do |contact| %>
    <tr>
      <td><%= contact.contact_firstname %></td>
      <td><%= contact.contact_lastname%></td>
      <td><%= contact.contact_email %></td>
      <%# if contact.visibility == "true" %>
      <!-- <td><input type="checkbox" id="<%#=contact.id %>" data-on-text="public" data-off-text="private" name="my-checkbox" checked></td> -->
      <%# else %>
      <!-- <td><input type="checkbox" id="<%#=contact.id %>" data-on-text="public" data-off-text="private" name="my-checkbox"></td> -->
      <%# end %>

    </tr>
  <% end %>
</table>

<script type="text/javascript">

  $("[name='my-checkbox']").bootstrapSwitch();

  $('input[name="my-checkbox"]').on('switchChange.bootstrapSwitch', function(event, state) {
  console.log($(this).attr('id')); // DOM element
  console.log(event); // jQuery event
  console.log(state); // true | false
   var id = $(this).attr('id');
   $.ajax({
                url: '/contacts/'+id,
                dataType: 'JSON',
                method: 'PUT',
                data: {visibility: state},
                success: function(data){
                    $('#response pre').html( data );
                },
                error: function( jqXhr, textStatus, errorThrown ){
                    console.log( errorThrown );
                }
            });


});

</script>
